nav {
    background-color: black;
    height: 8rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .5);
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.site-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: .5rem;


    color: white;
    font-family: "Teko", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    transition: all .4s;
}

.site-title:hover {
    transform: translateY(-2px);
    transform: scale(1.02);
    color: gray;
}



.nav-links {
    display: flex;
    justify-content: center;
    gap: 20vw;
    color: white;
    font-family: "Teko", sans-serif;
    font-size: 2rem;
    text-align: center;
    
}

.nav-links li {
    transition: all .4s;
}

.nav-links li:hover{
    transform: scale(1.02);
    transform: translateY(-2px);
    color:gray;
}