/* social-feed.css */

/* Add font-family property to body selector */
body {
    font-family: Arial, sans-serif; /* Change font family to Arial or any sans-serif font */
}

/* Header */
.logged-in {
    color: green;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.user-profile {
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.user-home-page {
    padding-left: 3rem;
    color: green;
}

/* Post */
.post {
    border: 2px solid #333;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.post-info a {
    color: #007bff;
    text-decoration: none;
}

.post-content {
    margin-bottom: 15px;
    font-size: 1.1em;
}

.likes {
    font-style: italic;
    margin-bottom: 10px;
}

/* Message */
.guest-message {
    color: red;
    margin-top: 10px;
}

.liked-message {
    color: green;
    margin-top: 10px;
}

/* Buttons */
.like-button,
.delete-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.like-button:hover,
.delete-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}

/* Pagination */
.pagination {
    margin-top: 30px;
}

.pagination a {
    margin-right: 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 1.1em;
}

.pagination a:hover {
    text-decoration: underline;
}